@mixin for-phone-only {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}

//@mixin for-desktop-up {
//  @media (min-width: 1200px) {
//    @content;
//  }
//}
@mixin for-desktop-up {
  @media (min-width: 901px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@font-face {
  font-family: "IvyMode-Regular";
  src: url("../assets/fonts/Recoleta Alt Regular.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NeueHaasDisplayLight";
  src: url("../assets/fonts/NeueHaasDisplayLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NeueHaasDisplayRoman";
  src: url("../assets/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-display: swap;
}
:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: hsl(43, 86%, 17%); */
  --clr-primary-1: hsl(167, 39%, 7%);
  --clr-primary-2: hsl(167, 38%, 9%);
  --clr-primary-3: hsl(167, 38%, 11%);
  --clr-primary-4: hsl(167, 38%, 13%);
    --clr-primary-5: #1B3C35;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(167, 38%, 17%);
  --clr-primary-7: hsl(167, 38%, 19%);
  --clr-primary-8: hsl(167, 38%, 21%);
  --clr-primary-9: hsl(167, 38%, 23%);
  --clr-primary-10: hsl(167, 38%, 24%);
  --clr-secondary: #ecece8;

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(0, 0%, 15%);
  --clr-grey-3: hsl(0, 0%, 35%);
  --clr-grey-4: hsl(0, 0%, 45%);
  --clr-grey-5: #7f7f7f;
  /* grey used for paragraphs */
  --clr-grey-6: hsl(0, 0%, 55%);
  --clr-grey-8: hsl(0, 0%, 65%);
  --clr-grey-10: hsl(0, 0%, 85%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #fff;
  --ff-primary: "IvyMode-Regular", sans-serif;
  --ff-primary-light: "IvyMode-Light", sans-serif;
  --ff-secondary: "NeueHaasDisplayLight", sans-serif;
  --ff-secondary-roman: "NeueHaasDisplayRoman", sans-serif;
  --ff-secondary-Lig: "Suisse Int'l Light", sans-serif;
  --transition: all 0.2s linear;
  --spacing: 0.05rem;
  --spacing-menu-links: 0.1rem;
  --spacing-htags: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}
*{
  margin: 0;
}
::marker{
  color: var(--clr-grey-5);
}
::-moz-selection {
  background: var(--clr-primary-5); color: var(--clr-white)
}
::selection {
  background: var(--clr-primary-5); color: var(--clr-white);
}

body {
  font-family: var(--ff-secondary);
  background: #000000;
  color: var(--clr-primary-1);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

span,
h1,
h2,
h3,
h4,
h5,
h6{
  letter-spacing: var(--spacing-htags);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  //font-family: var(--ff-primary);
  font-family: var(--ff-primary);
  font-weight: normal;
  word-wrap: break-word;
  hyphens: auto;
}

h1 {
  font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1900 - 320)));
  span {
    //all: inherit;
    //line-height: inherit !important;
    line-height: 1;
    //margin-top: -10px !important;
    //span{
      //line-height: 0;
    //}
    //word-spacing: 15px;
  }
  div{
    line-height: inherit !important;
  }
}
h2 {
  font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1900 - 320)));
}
h3 {
  font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1900 - 320)));
}
h4 {
  font-size: calc(20px + (35 - 22) * ((100vw - 320px) / (1900 - 320)));
}
h5 {
  font-size: calc(20px + (25 - 20) * ((100vw - 320px) / (1900 - 320)));
}
h6{
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1900 - 320)));
}

p{
  margin-bottom: 1.25rem;
  line-height: 2.2;
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
}
em{
  color: var(--clr-primary-10);
}
h1.page-title em, h2.page-title em {
  color: #698fbb;
}
.splitTrigger {
  line-height: 0;
}
.beforeH1{
  color: var(--clr-white);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: var(--spacing);
  font-size: 12px;
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  @include for-desktop-up{
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @include for-tablet-portrait-up {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @include for-big-desktop-up {
    width: 75%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.align-right{
  text-align: right;
}
.align-left{
  text-align: left  ;
}
.border-bottom{
  margin: 7.5rem 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.home-slider .page-title:before{
  content:'';
  //background: var(--clr-white);
  background: rgba(255,255,255,.8);
  position:absolute;
  display:block;
  top: -15%;
  height: 1px;
  width: 25%;
}
.subheader, .home-slider {
  h1{
    line-height: 0;
  }
  p{
    color: var(--clr-white);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
  }
}

/*
===============
Navbar
===============
*/

.navbar {
  //margin: 4rem 0;
  position: absolute;
  //top: 0;
  left: 12.5%;
  right:  12.5%;
  //margin: 0 15px;
  //padding: 0 15px;
  //width: 85%;
  align-items: center;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  z-index: 20000;
  //mix-blend-mode: difference;
  //background: var(--clr-white);
  //background: transparent;
  @include for-desktop-up {
    left: 5%;
    right: 5%;
  }
  @include for-big-desktop-up {
    left: 12.5%;
    right:  12.5%;
  }
  @include for-tablet-landscape-up {
    //width: 95% !important;
    display: inline-block;
    top: 2.5rem;
  }

  //img{
  //  //width: 50%;
  //  width: 80px;
  //  //height: auto;
  //  //width: 70px;
  //  //margin-top: -80px;
  //}
}

.nav-center {
  /*width: 90vw;*/
  //max-width: 1170px;
  @include   for-tablet-landscape-up {
    margin: 0 auto;
  }
  @include for-desktop-up {
    //display: grid;
    //grid-template-columns: auto 1fr;
    //align-items: center;
  }

}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header svg {
  margin-bottom: 0.375rem;
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-white) !important;
  cursor: pointer;
  //transition: var(--transition);
  @include for-desktop-up {
    display: none;
  }
}
.toggle-btn:hover {
  color: var(--clr-primary-2);
}
.nav-links {
  display: none;
  @include for-desktop-up {
    display: flex;
    justify-content: flex-end;
  }
  & li {
    @include for-desktop-up {
      margin-left: 3rem;
    }
  }
  & a{
    //font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (1900 - 320)));
    font-size: 12px;
    letter-spacing: 2px;
    z-index: 20000 !important;
    @include for-desktop-up {
      text-transform: uppercase;
      color: var(--clr-white);
      font-weight: bold;
      letter-spacing: var(--spacing-menu-links);
      //transition: var(--transition);
      //padding: 0.5rem 0;
    }
    &:hover{
      //color: var(--clr-primary-5);
      //color:  hsla(0,0%,100%, .6) !important;


      //box-shadow: 0px 2px var(--clr-primary-5);
    }
  }
}
/*
===============
Pages
===============
*/
.blog-template,
.projects-page,
.blog-page,
.article-page,
.error-page,
.team-page,
.about-page,
.team-member-page,
.services-page {
  //background: #fff;
}
.error-page {
  display: grid;
  place-items: center;
  text-align: center;

  background: var(--clr-primary-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //z-index: 200000 !important;

}
.error-page  {
  color: var(--clr-white);
  margin-bottom: 2rem;
  &>div{
    text-align: center;
    max-width: 30%;
    @include for-tablet-landscape-up {
      max-width: 50%;
    }
  }
  h2{
    text-transform: uppercase;
  }
  p,a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }
  h6{
    padding: 0 0 2.5rem 0 ;
  }
}
/*
===============
Footer
===============
*/
footer{
  //padding-top: 5rem;
  svg{
    margin-right: 1rem;
    fill: var(--clr-primary-10);
    transform: translateY(.1rem);
  }
  border-top: 1px solid rgba(0,0,0,.1);
  .credits{
    padding: 1rem 0;

    ul.social{
      flex-direction: row;
      @include for-tablet-portrait-up {
        padding-top: 2.5rem;
      }
    }
    ul{
      padding: 0;
      display: flex;
      justify-content: space-between;
      @include for-tablet-portrait-up {
        flex-direction: column;
        text-align: center !important;

      }
      li{
        color: var(--clr-grey-5);
        letter-spacing: var(--spacing);
        font-size: 1em;
      }
    }
  }
  .description-first-element{
    border-right: 1px solid rgba(0,0,0,.1);
  }
  .description-second-element{
    text-align: right;
  }
}


/*
===============
Page Title
===============
*/
.subheader{
  display: flex;
  position: relative;
  padding-top: 15rem;
  padding-bottom: 3.5rem;
  //color: var(--clr-white);
  color: var(--clr-secondary);
  height: 100vh;

  //background-image: radial-gradient(#012754,#011f43);
  .page-title{
    align-self: center;
  }
  img{
    user-select: none;
    //position: absolute;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center top;
    object-position: center top;
    //-webkit-transform-origin: 50%;
    //transform-origin: 50%;
  }
  //h1::before{
  //  content: "";
  //  position: absolute;
  //  left: 0;
  //  top: -1rem;
  //  width: 10rem;
  //  height: 1px;
  //  background-color: #fff;
  //}
  //h1::after{
  //  content: '21.01.2021';
  //  position: absolute;
  //  top: -3rem;
  //  left: 0;
  //  font-size: .8rem;
  //  font-weight: 500;
  //  line-height: 1em;
  //}
}

/*
===============
Page Index
===============
*/
.index-page{
  //background-image: radial-gradient(#012754,#011f43);
  //background-image:url("../assets/imgs/abstract/daniel-koponyas-nL1zMSVGFj8-unsplash(1).jpg");
  //background-image:url("../assets/imgs/method-bg-2.webp");

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  //background-repeat:no-repeat;
  //background-size:contain;
  //background-position:center;
  min-height: calc(100vh - 5rem - 9rem);
  height: 100vh;
}

/*
===============
Policy About
===============
*/
.policy-page {
  ol{
    padding: 0 1rem;
  }
  footer{
    margin-top: 15rem;
  }
}

  /*
  ===============
  Page About
  ===============
  */
.about-page{
  .page-content h3 {
    margin-bottom: 1rem;
  }
  .page-content{
    //position: absolute;
    //padding: 7.5rem 15rem 2.5rem 7.5rem;
  }
  .page-content p.after:after{
    content:'';
    //background: var(--clr-white);
    background: rgba(0,0,0,.8);
    position:relative;
    margin-top: 5rem;
    display: block;
    height: 1px;
    width: 25%;
  }

 img.portrait{
   //position: relative;
   //display: block;
   //width: 66.666666%;
   filter: grayscale(100%);
   width: 70%;
   height: 30vw;
   -o-object-position: center;
   object-position: center;
   -o-object-fit: cover;
   object-fit: cover;
   //will-change: clip-path;
   //clip-path: circle(29.4% at 84% 84%);


   @include for-tablet-portrait-up {
     width: 100% !important;
     height: auto;
   }
   @include for-tablet-landscape-up {
     width: 50%;
     height: auto;
   }
 }
  .contact-sub{
    margin-bottom: 15rem;
  }
  .contact-sub .description-first-element{
    border-right: 1px solid rgba(0,0,0,.1);
    @include for-tablet-landscape-up {
      border-right: none;
    }
  }
}

.page-content{
  //transform: translateY(1px);
  position: relative;
  background-color: var(--clr-secondary);
  padding: 7.5rem 15rem 2.5rem 7.5rem;
  @include for-tablet-portrait-up {
    padding: 2.5rem  1.0rem !important;
  }
  @include for-tablet-landscape-up {
    padding: 2.5rem  !important;
  }
  h3{
    margin-bottom: 5rem;
  }
}
.blog-page .page-content {
  h3{
    margin-bottom: 2rem;
  }
}

.blog-page .article-description:nth-child(1) {
  padding: 0 0 2.5rem 0;
}
.blog-page .article-description{
  display: flex;
  @include for-tablet-portrait-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    flex-direction: column;
  }
  div:first-child{
    //-ms-flex: 0 0 66.666667%;
    //flex: 0 0 66.666667%;
    //max-width: 66.666667%;

    //-ms-flex-preferred-size: 0;
    //flex-basis: 0;
    //-webkit-box-flex: 1;
    //-ms-flex-positive: 1;
    //flex-grow: 1;
    @include for-tablet-portrait-up {
      order: 2;
    }
  }
  .article-date{
    //-ms-flex-preferred-size: 0;
    //flex-basis: 0;
    //-webkit-box-flex: 1;
    //-ms-flex-positive: 1;
    //flex-grow: 1;
    margin: 0 0 0 20%;
    text-align: right;
    @include for-tablet-portrait-up {
      margin: 0 0 0 0;
      text-align: left;
      order: 1;
      span{
        padding-right: 1rem;
      }
    }
    span{
      font-size: calc(35px + (100 - 35) * ((100vw - 320px) / (1900 - 320)));
      color: var(--clr-primary-10);
      line-height: 1.0;
    }
    p{
      text-transform: uppercase;
      color: var(--clr-primary-5);
      font-size: 12px;
      display: inline-block;
      line-height: 1.0;
      font-weight: bold;
    }
  }
  border-bottom: 1px solid rgba(0,0,0, .1);
  padding: 5rem 0 2.5rem 0;
}
.blog-page .article-description:last-child{
  margin-bottom: 15rem;
  border-bottom: none;
}

.page-content-description{
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  @include for-tablet-landscape-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }
}

.longer.description-first-element, longer.description-second-element{
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.description-first-element, .description-second-element{
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.description-second-element{
  ul.service-list{
    padding: 0;
  }
  .service-list li{
    padding: 1.5rem 0 0 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    & a:hover{
      transition: .3s;
      color: var(--clr-primary-1) !important;
    }
  }
  .service-list span{
    color: var(--clr-primary-1);
    padding: 0 2.5rem 0 0 ;
    //font-size: 1.2rem;
  }
}

.description-second-element{
  .quote, .service-list, .contact-sub, .about-sub, .short-bio-sub{
    margin: 0 0 0 20%;
    color: var(--clr-grey-1);
    @include for-tablet-landscape-up{
      margin: 5rem 0 0 0;
    }
  }
}
.description-first-element{
  h1,h2,h3,h4,h5,p{
    margin-right: 20%;
  }
  //span{
  //  line-height: 1 !important;
  //}
}
.description-first-element .description-second-element{
  @include for-tablet-landscape-up {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    -webkit-box-flex: unset;
    -ms-flex-positive: unset;
    flex-grow: unset;
    width: 100%;
  }

}

.image-subsection{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 8rem;
  overflow: hidden;

  img{
    position: relative;
    display: block;
    width: 66.666666%;
    height: 40vw;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    will-change: clip-path;
    clip-path: circle(29.4% at 84% 84%);
  }
}
.image-subsection__right{
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  .image-overlay-text{
    left: 16.666666%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.image-overlay-text{
  position: absolute;
  right: 16.666666%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
/*
===============
Page Team
===============
*/
.team-container{
  margin-bottom: 15rem;
  position: relative;
  cursor: grab;
  //display: grid;

  //grid-gap: 20px;

  //grid-gap: 6rem;
  //grid-template-columns: 1fr 1fr 1fr;

  //grid-template-columns: 1fr 1fr 1fr 1fr;
    //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  //margin-left: 100px;
  .img-wrapper{
    text-align: left;
    &>div{
      overflow: hidden !important;
    }
    h3{
      padding-top: 1rem;
      line-height: 0.5em;
    }
    .img{
      background-image: radial-gradient(#012754,#011f43);
      width: 450px;
      height: 650px;
      transition: .25s ease-in;
      filter: brightness(140%);
    }
    img{
        //width: 425px;
      width: 90%;
      transition: .25s ease-in;
      filter: brightness(140%);
      &:hover{
        transform: scale(1.02);
      }
    }
  }
}
/*
===============
Page Articles
===============
*/
.articles-container{
  padding-bottom: 15rem;
  display: grid;
  //grid-gap: 20px;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 10rem;
  //grid-template-columns: 1fr 1fr 1fr 1fr;
  //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  //margin-left: 100px;
  .img-wrapper{
    text-align: left;
    overflow: hidden;

    h4{
      padding-top: 1rem;
      //line-height: 0.5em;
      max-width: 60%;
    }
    img {
      //width: 425px;
      height: 450px;
      width: 100%;
      transition: .15s ease-in;
      filter: brightness(80%);
      &:hover{
        transform: scale(1.05);
      }
    }
    &:nth-child(odd){
      img{
        height: 350px !important;
      }
    }
    &:nth-child(even){
      margin-top: 5rem;
    }
  }
}

/*
===============
Page Services
===============
*/
.services-page{
  //.page-content{
  //  padding-top: 5rem;
  //  //display: flex;
  //}
  .page-description-wrapper{
    padding-bottom: 15rem;
  }
  .page-content{
    //padding: 7.5rem 15rem 0 7.5rem;
  }
  .border-bottom{
    @include for-tablet-landscape-up {
      margin: 2.5rem 0;
    }
  }
}
.services-wrapper{
  display: flex;
}

.service-container{
  //-ms-flex: 0 0 50%;
  //flex: 0 0 50%;
  //max-width: 50%;
}
.specialization-container{
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin: 0 0 0 15%;
}
.single-service{
  //&:last-child{
  //  padding-bottom: 5rem;
  //}
  .service-body{
    overflow: hidden;
  }
  .service-heading{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

  }
  h3{
    margin-bottom: 0;
  }
}
.service-header{
  display: flex;
  span{
    position: relative;
    font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1900 - 320)));
    color: var(--clr-grey-8);
    display: flex;
    &:after{
      content: "";
      margin: 0 1rem;
      display: inline-block;
      height: 1px;
      width: 5rem;
      background-color: var(--clr-grey-8);
      align-self: center;
    }
  }
  .service-title{
    color: var(--clr-primary-5);
  }
}

/*
===============
Page Contact
===============
*/

.contact-page{
  svg{
    margin-right: 1rem;
    fill: var(--clr-primary-10);
    transform: translateY(.1rem);
  }
  .page-content p.after:after{
    content:'';
    //background: var(--clr-white);
    background: rgba(0,0,0,.8);
    position:relative;
    margin-top: 5rem;
    display: block;
    height: 1px;
    width: 25%;
  }
  .contact-listing{
    padding: 0;
    line-height: inherit;
    color: inherit;
    li{
      line-height: 2.2;
      color: var(--clr-grey-5);
      letter-spacing: var(--spacing);
    }
  }
  .page-description-wrapper{
    padding-bottom: 15rem;
  }
}
.contact-container{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 8rem;
  overflow: hidden;
  //justify-content: center;
  align-items: center;
  //height: 100vh;
  height: 100%;
  color: var(--clr-white);
  padding-top: 10em;
}
.contact-img{
  position: absolute;
  top: 20%;
  right: 20%;
  z-index: 3000 !important;
  img{
    opacity: .2;
    display: block;
    height: 100vh;
    width: 100vh;
  }
  svg polygon {
    fill: rgba(67,151,248,.15);
  }
}
.left-contact{
  max-width: 50%;
  h2{
    max-width: 60%;
  }
}
.right-contact{
  color: var(--clr-white);
  ul{
    padding: 2.5rem 0 0 0;
  }
  p{
    line-height: 1.5;
  }
}

/*
===============
Sidebar
===============
*/
.sidebar {
  background: var(--clr-primary-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200000 !important;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: var(--transition);
  transform: translateX(-100%);
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links{
  padding: 0;
  li{
    opacity: 0;
  }
}
.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-family: var(--ff-primary);
  transition: var(--transition);
  border-radius: var(--radius);
}
.sidebar-links li a:hover {
  //background: var(--clr-primary-9);
  color: var(--clr-white) !important;
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}
//@media screen and (min-width: 992px) {
//  .sidebar {
//    transform: translateX(-100%);
//  }
//}

/*
===============
Page TeamMember
===============
*/
#team-member-page{
  .container-fluid{
    width: 100%;
  }
  background: #fff;
  .navbar{
    display: none;
  }
}
//helper
.nav-header a{
  color: var(--clr-white);
}

#team-member-page{
  background-color: #000000;
  overflow-y: hidden;
  height: 100vh;
  color: var(--clr-white);

  @include for-tablet-portrait-up {
    overflow-y: scroll;
  }
  @include for-tablet-landscape-up {
    overflow-y: scroll;
  }
  //position: fixed;
  //left: 0;
  //top: 0;
  //width: 100%;
  //height: 100vh;
  //overflow-y: hidden;
  //z-index: 1;
  //background-color: #001f1e;
  //pointer-events: none;
  //opacity: 0;
  //-webkit-transition: opacity .8s cubic-bezier(.65,0,.35,1);
  //transition: opacity .8s cubic-bezier(.65,0,.35,1);
}

.team-member-page{
  h5,p{
    color: var(--clr-white);
  }
  .img-wrapper{
    width: 42%;
    @include for-tablet-portrait-up {
      width: 100%;
    }
    @include for-tablet-landscape-up {
      width: 100%;
    }
  }
  img{
    width: 100%;
    filter: grayscale(100%);
    @include for-tablet-portrait-up {
      padding: 0 !important;
      width: 100% !important;
    }
    @include for-tablet-landscape-up {
      padding: 2.5rem;
      width: 80%;
    }

  }
  .page-content{
    background: var(--clr-primary-3);
    display: flex;
    flex-direction: row;
    padding: 0;
    @include for-tablet-portrait-up {

    }
    @include for-tablet-landscape-up {
      flex-direction: column;
    }
    h3{
      margin-bottom: 0;
    }
  }
  .team-member-description{
    width: 58%;
    //margin: 0 0 0 10%;
    overflow: scroll;
    padding: 15% 20% 15% 20%;
    height: 1000px;
    @include for-tablet-portrait-up {
      padding: 2.5rem 0 !important;
    }
    @include for-tablet-landscape-up{
      margin: 0 0 0 0;
      width: 100%;
      overflow: visible;
      padding: 2.5rem;
      height: 100%;
    }
    svg{
      margin-right: 1rem;
      fill: var(--clr-primary-10);
      transform: translateY(.1rem);
    }
  }
  .bio-header{
    display: flex;
    justify-content: space-between;
  }

  .team-member-bio{
    //padding-top: 5rem;
  }
  .team-member-details{
    padding: 5rem 0;
    //display: flex;
    //justify-content: space-between;
  }
}
/*
===============
Page SingleArticle
===============
*/
#article-page{
  //background: #fff;
  background: var(--clr-primary-3);
  .page-content{
    margin-bottom: 0;
  }
  .navbar{
    display: none;
  }
  .border-bottom{
    margin: 5rem 0 0 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    @include for-tablet-portrait-up {
      margin: 2.5rem 0 0 0;
    }
  }

}
.article-page{
  h1 + p{
    color: var(--clr-primary-10);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }

  h5{
    color: var(--clr-primary-10);
  }
  .img-wrapper{
  }
  //img{
  //  max-width:800px;
  //  height: auto;
  //}

  .page-content{
    display: flex;
    margin-bottom: 5rem;
  }
  .article{
    margin: 0 0 0 10%;
    @include for-tablet-landscape-up{
      margin: 0 0 0 0;
    }
    .back-button{
      text-align: left;
      padding-top: 5rem;
    }
  }
  .article-header{
    display: flex;
    justify-content: space-between;
  }

  .article-body{
    padding-top: 5rem;
  }
  .team-member-details{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
  }
}
/*
===============
Team Slider Home And Team
===============
*/


.index-slider{
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  //font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 100vh;
  max-height: 100vh;

  h2{
    margin-top: 5rem;
    //margin-bottom: 3.5rem;
    //display: block;
    //padding-left: 1em;
    //text-indent: -1em;
  }
  .button{
    margin-top: 2.5rem;
  }
}

.home-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  //font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 100vh;
  max-height: 100vh;
  h2{
    margin-top: 5rem;

  }
  button{
    margin-top: 5rem;
  }

}
.arrow {
  width: 15px;
  height: 20px;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;

  @include for-tablet-landscape-up{
    right: 5%;
    bottom: 5%;
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
  }
}

//.arrow-team{
//  width: 30px;
//  height: 30px;
//  position: absolute;
//  top: 40%;
//  transform: translateY(-40%);
//  -webkit-transform: translateY(-40%);
//  fill: var(--clr-grey-5);
//  cursor: pointer;
//  z-index: 100011 !important;
//}

.arrow--left {
  @include for-desktop-up {
    right: 5%;
  }
  @include for-big-desktop-up {
    right:  12.5%;
  }
  @include for-tablet-landscape-up{
    left: 5%;
  }
}

.arrow--right {
  left: auto;
  transform: translateY(200%);
  @include for-desktop-up {
    right: 5%;
  }
  @include for-big-desktop-up {
    right:  12.5%;
  }
  @include for-tablet-landscape-up{
    right: 5%;
    transform: translateY(0);
  }

}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
.linesWrapper{
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -5%);
}
.lines {
  display: flex;
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.lines li {
  width: 50px;
  height: 22px;
  margin: 0 5px;
  position: relative;
}
.lines li .lines-item {
  height: 100%;
  width: 100%;
  display: block;
}
.lines li .lines-dash {
  height: 3px;
  width: 100%;
  position: relative;
  top: 10px;
  background: rgba(255,255,255,0.2);
  transition: background 300ms ease;
}
.lines li.active .lines-dash {
  background: rgba(255,255,255,0.5);
}
.lines li.active .lines-dash:before {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: #ffffff;
  -webkit-animation: progressBar 8000ms linear forwards;
  animation: progressBar 8000ms linear forwards;
}
@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}



.dots {
  //display: flex;
  padding: 10px 0;
  //justify-content: center;
  position: absolute;
  left: 45%;
  bottom: 10%;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.zoom-out {
  height:100%;
  position: relative;
  overflow: hidden;
  cursor: grab;
}
.draggable {
  cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: grab; /* W3C standards syntax, all modern browser */
}

.draggable:active {
  cursor: grabbing;
}
//@media (min-width: 768px) {
//  .zoom-out {
//    height: 300px;
//  }
//}

.zoom-out__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.zoom-out__slide img {
  //background-color: transparent;
  //width: 100%;
  //height: auto;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translateY(-50%) translateX(-50%);
  //-webkit-transform: translateY(-50%) translateX(-50%);

  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top;
}



.fader {
  height:100%;
  position: relative;
  overflow: hidden;
}

//@media (min-width: 768px) {
//  .fader {
//    height: 300px;
//  }
//}

.fader__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.fader img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}




/*
===============
Arrow Button
===============
*/


/*
===============
Fake Loader && Page Transition
===============
*/

.page-transition{
  left: 0;
  top: 0;
  width: 0%;
  height: 100vh;
  background-color: var(--clr-primary-5);
  z-index: 20001 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
}

.page-transition{
  //padding-left: 0;
  //padding-right: 0;
  //padding-top: 0;
  //width: 0;
  //height: 100vh;
  //background-color: var(--clr-primary-5);
  //z-index: 20001 !important;
}
.fake-loader-wrapper {
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-primary-3);
  z-index: 20001 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  p {
    overflow-y: hidden;
    letter-spacing: 2px;
    color: #fff !important;
    font-family: var(--font-primary-bold);
    font-size: 22px;
    font-weight: bold;
  }
  img{
    //width: 120px;
    width: 80%;
  }
}

/*
===============
Button
===============
*/
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.article-description, .page-content-description, .contact-page, .services-page, .article-page{
  .button,button{
    &.learn-more {
      .circle {
        background: var(--clr-primary-10);
        .icon {
          background: var(--clr-grey-1);
          &.arrow {
            &::before {
              border-top: 0.125rem solid #fff;
              border-right: 0.125rem solid #fff;
            }
          }
        }
      }
      .button-text {
        color: var(--clr-grey-1);
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
              background: #fff;
              transform: translate(1rem, 0);
            }
          }
        }
        .button-text {
          color: #fff;
        }
      }
    }
  }
}

.button, button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #fff;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #000;
            border-right: 0.125rem solid #000;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      //margin: 0 0 0 1.85rem;
      margin: 0 0 0 2.85rem;
      font-size: 12px;
      letter-spacing: 2px;
      color: #fff;
      //font-weight: 700;
      line-height: 1.9;
      text-align: center;
      text-transform: capitalize;
      font-weight: bold;
      font-family: var(--ff-secondary);
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: #000;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: #000;
    }
  }
}

/*
===============
Link Hover
===============
*/

//.hover-effect a {
//  line-height: 1.5rem;
//  overflow: hidden;
//  height: 100%;
//  position: relative;
//  display: inline-block;
//  outline: none;
//  &:hover{
//    color: var(--color-text);
//  }
//}
//
//.hover-effect a span {
//  position: relative;
//  display: inline-block;
//  -webkit-transition: -webkit-transform 0.2s;
//  -moz-transition: -moz-transform 0.2s;
//  transition: transform 0.2s;
//}
//
//.hover-effect a span::before {
//  position: absolute;
//  top: 100%;
//  content: attr(data-hover);
//  //font-weight: 400;
//  -webkit-transform: translate3d(0,0,0);
//  -moz-transform: translate3d(0,0,0);
//  transform: translate3d(0,0,0);
//}
//
//.hover-effect  a:hover span,
//.hover-effect  a:focus span {
//  -webkit-transform: translateY(-100%);
//  -moz-transform: translateY(-100%);
//  transform: translateY(-100%);
//}


.link-hover, .link-hover-dark {
  display: inline-block;
  //color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  line-height: 1.5;
}

.link-hover::after, .link-hover-dark::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: rgba(255, 255, 255, 1);
  transition: width .3s;
  margin-top: .25rem;
}
.link-hover-dark::after {
  background: rgba(0, 0, 0, 0.5);
}

.link-hover:hover::after, .link-hover-dark:hover::after {
  width: 100%;
  transition: width .3s;
}


.plus {
  display:inline-block;
  width: 50px;
  height: 50px;
  background: linear-gradient(#fff,#fff), linear-gradient(#fff,#fff), #000;
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
  padding: 2rem;
  &:hover{
    cursor: pointer;
  }
}

.alt {
  background:
          linear-gradient(#000,#000),
          linear-gradient(#000,#000);
  background-position:center;
  background-size: 50% 2px, 2px 50%;
  background-repeat:no-repeat;
  @include for-tablet-portrait-up {
    background-size: 40% 1px, 1px 40%;
  }
}


.x {
  z-index: 1000;
  display: block;
  position: fixed;
  right: 5rem;
  top: 5rem;
  width: 32px;
  height: 32px;
  transition: transform .25s ease-in-out;
  @include for-tablet-portrait-up {
    right: 2.5rem;
  }
}
.x:hover {
  transform: rotate(180deg);
}
.x:before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 1px solid rgba(255,255,255,0.8);
  transform: rotate(45deg);
  transform-origin: center;
}
.x:after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 1px solid rgba(255,255,255,0.8);
  transform: rotate(-45deg);
  transform-origin: center;
}

.initialLogo{
  //fill: #fff;
  width: 600px;
  height: 600px;
  //stroke-width: 12;
  //stroke-linejoin: round;
  //stroke-linecap: round;

  //width: 15%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 100;
}
@keyframes motionblur {
  0% {
    filter: blur(0px);
  }

  50% {
    filter: blur(6px);
  }

  100% {
    filter: blur(0px);
  }
}